
RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L, R=301]

RewriteEngine On
RewriteCond %{SERVER_PORT} 8080
RewriteRule ^(.*)$ https://34.221.141.192/$1 [R,L]
